{% extends "base_generic.html" %}

{% block title %}
  {% if object %}
    Member Profile | Local Library
  {% else %}
    Member Sign Up | Local Library
  {% endif %}
{% endblock title %}

{% block content %}
  {% if object %}
    <h1>Member: {{ object.username }}</h1>
  {% else %}
    <h1>New Member</h1>
  {% endif %}
  <br>

  <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="row">
        <div class="col-md-3">
          <span class="font-weight-bold">{{ field.label_tag }} </span>
        </div>
        <div class="col-md-9">
          <p>{{ field }} <br> <em class="text-muted">{{ field.help_text|safe }}</em> </p>
          {{ field.errors }}
        </div>
        <!-- <div class="col-md-2"></div> -->
      </div>
    {% endfor %}
    {% if object %}
      <input type="submit" class="btn btn-lg btn-success" value="Update">
    {% else %}
      <input type="submit" class="btn btn-lg btn-success" value="Sign Up">
    {% endif %}
  </form>
{% endblock %}