{% extends "reviews/layout.html" %}

{% block title %}Review Form | Reviews{% endblock %}

{% block content %}
	<h2>Write Review</h2>
	<form action="{{ redirect_url }}" method="POST">
		{% csrf_token %}
	    <span class="text-danger">{{ form.non_field_errors }}</span>
		{% for field in form %}
			<div class="row">
				<div class="col-md-2"><strong>{{ field.label_tag }} </strong></div>
				<div class="col-md-6">{{ field }} </div>
				{{ field.errors }}
			</div>
		{% endfor %}
		<input type="hidden" name="link_model_id" value="{{ link_model_id }}">
		<button type="submit" class="btn btn-success">Post Review</button>
	</form>
{% endblock %}