.main-container{
    margin-top: 30px;
}

.home-info{
    max-width: 50%;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

/*a{
    color: inherit;
}*/

.errorlist {
    color: #dc3545 !important;
    list-style: none;
    padding-left: 0px;
    font-weight: 600;
}